<footer>
    <div>&copy; Copyright 2019 Hubert Miś</div>
    <div><a href="mailto:hubert.k.mis@gmail.com">hubert.k.mis@gmail.com</a></div>
    <div><a href="https://github.com/hubertmis1">Github</a></div>
</footer>