*, *:before, *:after {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: 'Open Sans', 'sans-serif';
    background-color: #8ad0ff;
    color: #444;
}
  
h1, p {
    margin: 0 0 1em 0;
}
  
.wrapper {
    max-width: 940px;
    margin: 0;
    display: grid;
    grid-gap: 10px;
}

.footer {
    text-align: center;
}

.footer span {
    width: 100%;
}

.footer a {
    text-decoration: none;
    color: #3b3b3b;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: center;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
   
.nav li a.active {
    background-color: #4CAF50;
    color: white;
}
  
.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  
@media screen and (min-width: 500px) {
  
    body{
        margin:20px;
    }
    /* no grid support? */
    .sidebar {
        float: left;
        width: 19.1489%;
    }
  
    .content {
        float: right;
      width: 79.7872%;
    }
  
    .wrapper {
        margin: 0 auto;
        grid-template-columns: 1fr 3fr;
    }
    
    .header, .footer {
        grid-column: 1 / -1;
        /* needed for the floated layout */
        clear: both;
    }
  
}
  
.wrapper > * {
    background-color: rgb(255, 255, 255);
    color: #3b3b3b;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    /* needed for the floated layout*/
    margin-bottom: 10px;
}
  
/* We need to set the widths used on floated items back to auto, and remove the bottom margin as when we have grid we have gaps. */
@supports (display: grid) {
    .wrapper > * {
        width: auto;
        margin: 0;
    }
}