<!DOCTYPE html>
<html lang="en">
  <% include include/head %>
<body>
  <div class="wrapper">
    <% include include/header %>
    <aside>
      <ul class="nav">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/a">Wybór waluty bazowej</a></li>
      </ul>
    </aside>
    <article>
      <ul>
      <% for(var i=0; i<curr.length; i++){
        %>
        <li><a href="/a/<%= curr[i] %>"><%= curr[i] %></a></li>
        <% } %>        
      %>
      </ul>
    </article>
    <% include include/footer %>
  </div>
</body>
</html>