<!DOCTYPE html>
<html lang="en">
  <% include include/head %>
<body>
  <div class="wrapper">
    <% include include/header %>
    <aside>
      <ul class="nav">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/a">Wybór waluty bazowej</a></li>
        <li><a href="/a/<%= base %>">Wybór waluty analizowanej</a></li>
      </ul>
    </aside>
    <article>
      <form action="/b/<%= base %>/<%= curr %>" method="GET">
        Data początkowa<br>
        <input type="date" name="from">
        <br>Data końcowa<br>
        <input type="date" name="to">
        <br>Zatwierdź<br>
        <input type="submit">
      </form>
    </article>
    <% include include/footer %>
  </div>
</body>
</html>