<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock app</title>

  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
  <div class="wrapper">
    <header class="header"></header>
    <aside class="sidebar">
      <ul class="nav">
        <li><a href="/">Strona główna</a></li>
        <li><a href="/a">Wybór waluty bazowej</a></li>

      </ul>
    </aside>
    <article class="content">
        <% for(var i=1; i<=counter; i++)
        %>
    </article>
    <footer class="footer">
      <div>&copy; Copyright 2019 Hubert Miś</div>
      <div><a href="mailto:hubert.k.mis@gmail.com">hubert.k.mis@gmail.com</a></div>
      <div><a href="https://github.com/hubertmis1">Github</a></div>
    </footer>
  </div>
</body>
</html>